@{
    ViewData["Title"] = "Products";
}

@model Product
<form method="post" asp-controller="Products" asp-action=@TempData["routeStatus"]>
    @if (TempData["routeStatus"] is "Update")
    {
        <input asp-for="Id" class="form-control" type="text" hidden>
    }
    <div class="row">
        <div class="col-12 py-4">
            <a asp-controller="Products" asp-action="Index">
                <i class="fa-solid fa-caret-left float-start mx-2" style="font-size: 3rem;"></i>
            </a>
            <h1>@TempData["routeStatus"] Product</h1>
        </div>
    </div>
    <div class="col-12 mt-md-5" style="height: 20rem;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-2">
                <label asp-for="Name" class="my-2"></label>
                <input asp-for="Name" class="form-control" type="text" placeholder="Name">
                <div class="mt-2">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <label asp-for="Price" class="my-2"></label>
                <input asp-for="Price" class="form-control" type="number" placeholder="Display Order">
                <div class="mt-2">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <button type="Submit" class="mt-4 form-control rounded-1 text-white bg-primary">@TempData["routeStatus"]
                    Product</button>
            </div>
        </div>
    </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}